.spotlight_overlay {
  position: fixed;
  inset: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1rem) saturate(180%);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 15vh;
  z-index: 9999999999999999999999999999999999;
  pointer-events: auto;
  touch-action: none;
}

.spotlight_container {
  width: 100%;
  max-width: calc(100% - 2rem);
  width: 45rem !important;
  max-height: 21.2rem !important;
  height: fit-content !important;
  background-color: #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.search_header {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 4rem;
  border-bottom: 2px rgba(255, 255, 255, 0.14) solid;
}

.search_icon {
  color: rgba(255, 255, 255, 0.58);
  margin-right: 12px;
}

.search_input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 300;
  outline: none !important;
  outline-offset: 0 !important;
  background: #000;
}

.search_input:focus {
  outline: none !important;
  outline-offset: 0 !important;
  border: none !important;
  box-shadow: none !important;
}

.search_input::placeholder {
  color: rgba(255, 255, 255, 0.42);
  font-weight: 500;
  letter-spacing: 0.02rem;
}

@media (prefers-color-scheme: dark) {
  .spotlight_container {
    background-color: #000;
    box-shadow:
      0 16px 40px rgba(0, 0, 0, 0.5),
      0 0 0 1px rgba(255, 255, 255, 0.1);
  }

  .search_icon {
    color: #aaa;
  }

  .search_input {
    color: #fff;
  }

  .search_input::placeholder {
    color: rgba(255, 255, 255, 0.42);
  }
}
